.nav_container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-inline: 2rem;
}

.ham_menu {
	display: none;
}

.nav_menu li {
	padding: 0;
}

@media (max-width: 768px) {
	.menu {
		display: none;
	}

	.ham_menu {
		display: block;
	}

	.nav_container {
		padding: 0.5rem;
	}
}
